@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #242B33;
}
body a {
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
body a:hover {
  color: #D4C17F;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33));
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
}
.header__container {
  position: relative;
  z-index: 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px 74px;
  row-gap: 30px;
}
.header__top {
  width: 100%;
  min-height: 66px;
}
.header__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #D4C17F;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 566px;
}
.header__title span {
  display: block;
  padding: 0 0 80px 0;
}
.header__title a {
  display: block;
  margin: 0 auto;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-header__logo {
  position: relative;
  z-index: 5;
}
.top-header__logo img {
  width: 133px;
  margin: 0 0 14px 0;
}
.top-header__logo div {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.contacts {
  width: 100%;
  font-size: 1.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 98px 1fr;
      grid-template: 1fr/repeat(2, 1fr);
  gap: 15px 98px;
}
.contacts__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: -webkit-min-content 14px auto;
  -ms-grid-columns: min-content 14px auto;
      grid-template: 1fr/min-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.contacts__item_right {
  -ms-grid-column-align: end;
      justify-self: end;
}
@media (max-width: 43.75em) {
  .contacts {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: 1fr;
        grid-template: repeat(2, 1fr)/1fr;
    justify-items: center;
  }
  .contacts__item_right {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li:not(:last-child) {
  margin: 0 40px 0 0;
}
.menu__link {
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}
@media (max-width: 48em) {
  .menu__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242B33;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }
  .menu__list li:not(:last-child) {
    margin: 0;
  }
  .menu__list._active {
    top: 0;
  }
  .menu__link {
    font-size: 1.75rem;
    letter-spacing: 0.7px;
  }
  .menu__burger {
    position: relative;
    z-index: 5;
    width: 35px;
    height: 32px;
    cursor: pointer;
  }
  .menu__burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 10%;
    background-color: #fff;
  }
  .menu__burger span:last-child {
    bottom: 0;
  }
  .menu__burger span:first-child {
    top: 0;
  }
  .menu__burger span:nth-child(2) {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
}