@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #242B33;
}
body a {
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
body a:hover {
  color: #D4C17F;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

[class*=__container] {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* Remove the layout */
  position: absolute;
  /* Remove any visible trace */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* Browser in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33));
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
}
.header__container {
  position: relative;
  z-index: 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px 74px;
  row-gap: 30px;
}
.header__top {
  width: 100%;
  min-height: 66px;
}
.header__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #D4C17F;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 566px;
}
.header__title span {
  display: block;
  padding: 0 0 80px 0;
}
.header__title a {
  display: block;
  margin: 0 auto;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-header__logo {
  position: relative;
  z-index: 5;
}
.top-header__logo img {
  width: 133px;
  margin: 0 0 14px 0;
}

.contacts {
  width: 100%;
  font-size: 1.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 98px 1fr;
      grid-template: 1fr/repeat(2, 1fr);
  gap: 15px 98px;
}
.contacts__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: -webkit-min-content 14px auto;
  -ms-grid-columns: min-content 14px auto;
      grid-template: 1fr/min-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.contacts__item_right {
  -ms-grid-column-align: end;
      justify-self: end;
}
@media (max-width: 43.75em) {
  .contacts {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: 1fr;
        grid-template: repeat(2, 1fr)/1fr;
    justify-items: center;
  }
  .contacts__item_right {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li:not(:last-child) {
  margin: 0 40px 0 0;
}
.menu__link {
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}
@media (max-width: 48em) {
  .menu__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242B33;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }
  .menu__list li:not(:last-child) {
    margin: 0;
  }
  .menu__list._active {
    top: 0;
  }
  .menu__link {
    font-size: 1.75rem;
    letter-spacing: 0.7px;
  }
  .menu__burger {
    position: relative;
    z-index: 5;
    width: 35px;
    height: 32px;
    cursor: pointer;
  }
  .menu__burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 10%;
    background-color: #fff;
  }
  .menu__burger span:last-child {
    bottom: 0;
  }
  .menu__burger span:first-child {
    top: 0;
  }
  .menu__burger span:nth-child(2) {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
}

.benefits {
  padding: 120px 0;
}
.benefits__container {
  max-width: 850px;
  overflow: hidden;
}
.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -35px;
  row-gap: 35px;
}
.benefits__item {
  padding: 0 35px;
  text-align: center;
}
.benefits__image {
  margin: 0 0 53px 0;
}
.benefits__text {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.35;
}
@media (max-width: 840px) {
  .benefits__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.title {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 700;
}

.flats__title {
  margin: 0 0 88px 0;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(auto, 320px))/repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: minmax(auto, 320px);
  gap: 30px;
}
.cards__item {
  overflow: hidden;
  z-index: 20;
}
.cards__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
  z-index: 5;
}
.cards__item::after {
  content: "";
  z-index: 11;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px double #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cards__item:hover:after {
  opacity: 0.4;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
.cards__item:hover .cards__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.cards__image {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.cards__title {
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  position: absolute;
  bottom: 50px;
  left: 44px;
  z-index: 10;
}

.feedback {
  padding: 180px 0;
  position: relative;
}
.feedback::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9)));
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%);
  z-index: 2;
}
.feedback__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.feedback__container {
  position: relative;
  z-index: 3;
}
.feedback__title {
  margin: 0 0 17px 0;
}
.feedback__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.feedback__text {
  line-height: 1.5;
}
.feedback__text p + p {
  margin: 1em 0 0 0;
}
.feedback__form {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(50px, 1fr))/repeat(auto-fit, minmax(230px, 1fr));
  gap: 35px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  font-size: 0.875rem;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
  padding: 12px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
  opacity: 1;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
  opacity: 1;
}
.form__input::placeholder {
  color: #BEBEBE;
  opacity: 1;
}
.form__privacy {
  color: #E7E7E7;
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.2;
}
.form__button {
  min-height: 50px;
  padding: 12px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6875;
  background-color: #D4C17F;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.form__button:hover {
  background-color: rgba(212, 193, 127, 0.9);
}

.video-block__container {
  max-width: 750px;
}
.video-block__link {
  position: relative;
  display: block;
  padding: 0 0 76.4% 0;
}
.video-block__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 2;
}
.video-block__link:hover:before {
  background: rgba(36, 43, 51, 0.7);
}
.video-block__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-block__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13.9%;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.video-block__link:hover .video-block__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.map-block {
  padding: 180px 0;
}
.map-block__title {
  margin: 0 0 88px 0;
}

.map {
  background: #626262;
  min-height: 358px;
}

.subscribe {
  padding: 0 0 191px 0;
}
.subscribe__title {
  margin: 0 0 38px 0;
}
.subscribe__form {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(50px, 1fr))/repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__form .form__privacy {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer {
  background-color: #2D343C;
  padding: 50px 0 51px 0;
}
.footer__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template: 1fr/repeat(4, 1fr);
}
.footer__address > *:not(:last-child) {
  margin: 0 0 20px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav__list li {
  margin: 0 0 15px 0;
}
.footer-nav__list li:last-child {
  margin: 0;
}
.footer-nav__link {
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}
.footer-nav__link_bold {
  font-weight: 700;
  color: #D4C17F;
}