@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: $font-main;
    font-weight: 400;
    color: $white;
    background-color: $dark;
    a {
        color: $white;
        transition: color .3s ease 0s;
        &:hover {
            color: $accent;
        }
    }
    &._lock .page {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
}
._ibg {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }  
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: toRem($container);
    padding: 0 15px;
    margin: 0 auto;

    @include mediaContainer {
        max-width: toEm($tablet);
    }
    @include mediaTablet {
        max-width: toEm($phone);
    }
    @include mediaPhone {
        width: 100%;
    }
}
.content {
    flex: 1 1 auto;
}
.visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* Remove the layout */
    position: absolute;
    /* Remove any visible trace */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%); /* Browser in the future */
    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
}

// work config
.none {
    display: none !important;
}