@use "sass:math";
// TO %
@function toPercent($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}
// TO rem
@function toRem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}
// To em
@function toEm($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}