// Fonts
$font-main: Raleway, sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: Roboto, sans-serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
$placeholder-clr: #BEBEBE;
$privacy-clr: #E7E7E7;

// Sizes
$header-height: 66;

// Media 
$container: 1130;
$tablet: 992;
$phone: 767;
$minScreen: 320;

// Margin
$title-bottom-max: 88;
$title-bottom-min: 20;

// font-size
$title-fz-max: 36;
$title-fz-min: 24;

// Layouts 
$layout1: 1;
$layout2: 5;
$layout3: 10;
$layout4: 25;