.footer {
    background-color: $footer-bg;
    padding: 50px 0 51px 0;
    &__body {
        display: grid;
        align-items: start;
        grid-template: 1fr / repeat(4, 1fr);
    }
    &__logo {}
    &__nav {}
    &__address {
        & > *:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__social {
        display: flex;
        column-gap: 22px;
        align-items: center;
    }
}
.footer-nav {
    &__list {
        li {
            margin: 0 0 15px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    &__link {
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        &_bold {
            font-weight: 700;
            color: $accent;
        }
    }
}
