.form {
    &__input {
        font-size: 0.875rem;
        min-height: 50px;
        background-color: rgba(255, 255, 255, .2);
        text-align: center;
        color: $white;
        padding: 12px;
        transition: background .3s;

        &:focus {
            background-color: rgba(255, 255, 255, .3); 
        }

        &::placeholder {
            color: $placeholder-clr;
            opacity: 1;
        }
    }
    &__privacy {
        color: $privacy-clr;
        text-align: center;
        font-size: 0.8125rem;
        line-height: 1.2;
    }
    &__button {
        min-height: 50px;
        padding: 12px;
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.6875;
        background-color: $accent;
        transition: background-color .3s;

        &:hover {
            background-color: rgba($accent, 0.9);
        }
    }
}
