.subscribe {
    padding: 0 0 191px 0;
    &__title {
        margin: 0 0 38px 0;
    }
    &__form {
        display: grid;
        grid-template: repeat(auto-fit, minmax(50px, 1fr)) / repeat(auto-fit, minmax(230px, 1fr));
        gap: 30px;
        align-items: center;
        & .form__privacy {
            order: -1;
        }
    }
}