.map-block {
    @include responseValue("padding-top", 30, 180);
    @include responseValue("padding-bottom", 30, 180);
    position: relative;
    &::after {
        @include decorNumber;
        top: 180px;
        content: "V";
        left: calc(50% - #{$container / 2 + px});
        line-height: 1;
        z-index: - 1;
    }
    &__title {
        @include responseValue("margin-bottom", $title-bottom-min, $title-bottom-max);
    }
}
.map {
    background: #626262;
    min-height: 358px;
}
